:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* start box */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
.b-none{
    border: none;
}
@media (max-width: 767px) {
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}
.w-fit{
    width: fit-content;
}
.w-full{
    width: 100%;
}
/* end box */
/* start padding and margin */
.p-20{
    padding: 20px;
}
.mt-0{
    margin-top: 0;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
/* end padding and margin */
/* start color*/
.bg-white{
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: #0075ff;
}
.bg-green{
    background-color: #22c55e;
}
.bg-orange{
    background-color: #f44336;
}
.c-black{
    color: black;
}
.c-grey{
    color: var(--grey-color);
}
.c-green{
    color: #22c55e;
}
.c-orange{
    color: #f44336;
}
.c-white{
    color: white;
}
.c-red{
    color: red;
}
.c-blue{
    color: blue;
}
/* end color */
/* start position */
.p-relative{
    position: relative;
}
/* end position */
/* start font */
.txt-c{
    text-align: center;
}
.fs-14{
    font-size: 14px;
}
.fs-25{
    font-size: 25px;
}
@media (max-width: 767px) {
    .txt-c-mobile{
        text-align: center;
    }
}
/* end font */
/* start border */
.rad-6{
    border-radius: 6px;
}
/* end border */
/* start components */
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* end components */


